@import url(_variabels.css);


* {
  text-decoration: none;

  margin: 0;
}

header {
  position: sticky;
 
  top:0;
  min-height: 70px;

}

main {
display: flex;
flex-direction: column;
align-items: center;
  min-height: 720px;
}

/* dark background color */
header, footer {
  background-color: var(--dark);
}

/* white text */

 nav a, footer, footer a {
  color: var(--white);
}


/* white background */
.icon1, .icon2, .icon3
{
  background-color: var(--white);
}

/* dark text */
a 
{
  color: var(--dark);
}
/* height */
nav a, .flogos img
{
height: 50px;

}
/* 25px font size */
nav a, .about
{
font-size: 25px;
}

.logo img{
width: 260px;
/* max-width: 80%; */
}


/* absoulute position  */
.hamburger {
  position: absolute;
 }

/* hamburger menu */
 .icon1, .icon2, .icon3, .rotated1, .rotated2, .rotated3
  {
  transition: ease-in-out 0.5s;
}

.hamburger {

  /* padding-top: 10px; */
  left: 20px;
  cursor: pointer;
  width: auto;
  width:40px;
  top: 10px;
  }
  
    .icon1, .icon2, .icon3 {
     
      display: block;
      width: 50px;
      height: 7px;
  
     margin-top: 10px;
     border-radius: 20px;
  
  
  
    }
  
  
  
    .rotated1, .rotated2, .rotated3 {
      opacity: 0.55s ease;
    }
    .rotated1 {
      transform: rotate(45deg) translate(15px, 21px);
   
    }
  
    .rotated2 {
    
      opacity: 0;
    }
  
    .rotated3 {
    
      transform: rotate(-45deg) translate(0, -9px);
    }


      
      .hidden, .navigate-arrows {
         display: none;
        }
      
/* gird */


/* all display flex  */
nav, .headerdiv, header, footer, footer div, .about-card, .post-card, .post-container {
  display: flex;
}


/* column direction */
nav, header, footer div, .about-card, .post-card, .post-container
 {

  flex-direction: column;
  
}
/* row direction */
footer, .flogos
{
  flex-direction: row;
}
/* flex center */
nav, header, footer div
{
  justify-content: center;
 
}
/* flex space-between */
footer, .flogos {
  justify-content: space-between;
}

/* flex space-around */
.flogos, footer
{
  justify-content: space-around;
}


/* align items */
nav, header, footer, .post-container, .post-card
 {
  
  align-items:center ;
}



/* footer */

.flogos
 {
min-width: 150px;
  }

/* home page */
.home-info
{
  width: 300px;
}
.post-container
{
  margin-top: 50px;
  gap: 50px;
}
.post-card 
{
  width: 350px;
  max-width: 80%;
}

.post-card img {
  border-radius: 20px;
  width: 100%;
}

.header-img-div{
  display: flex;
  background-image: url(/images/home-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x:center ;
  background-position-y:center ;
  height:200px;
  width: 100%;
justify-content: center;
  align-items: center;
  padding:0px 0px 20px 20px;
  box-sizing: border-box;
}

.header-img-div h1{
  color: white;
  font-size: 2em;
  background-color: rgba(48, 47, 47, 0.6);
}
/* specific page */
.post-image
{
  width: 300px;
}

.post-image img 
{
  width: 100%;
  border-radius: 10%;
}

.post-grid 
{
  display: flex;
  gap:50px;
  flex-direction: column;
  align-items: center;
}

/* about page */
.about-card
{
  width: 500px;
  max-width: 80%;
 
  border-radius: 20px;
  margin-top: 50px;
}

.about-card {
  border: solid 1px;
}
.row img, .row-reverse img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}



.about-text
{
  padding: 20px;
}


@media (min-width: 650px){
.post-card, .home-info
{
width: 500px;
margin:50px
}

.header-img-div 
{
  height: 350px;
  
}
}

   @media (min-width: 1200px){
    .active 
    {
      color: var(--dark);
      background-color: var(--white);
      
      width: 100px;
    }

    .header-img-div
    {
      height: 450px;
    }

.post-container {
  display: grid;
  grid-template-columns:repeat(3, auto);
  grid-template-rows:1;
}

.hidden, .navigate-arrows {
  display: flex;
}

    .hamburger {
      display: none;
    }


    
header, nav, nav a {
  display: flex;
  align-items: center;
  
}

 nav a {
  justify-content: center;

}
header, nav, .row {


  flex-direction: row;
  


}

.navigate-arrows 
{
  /* width: 100%; */
  justify-content: flex-end;
  font-size: 50px;
  margin: 20px;
  
}

.arrow-left, .arrow-right
{
  cursor: pointer;
}

.row img
{
  border-radius: 20px 0px 0px 20px;
}

.row-reverse img {
  border-radius: 0px 20px 20px 0px;
}

.row-reverse {
  flex-direction: row-reverse;
}

 header{
  justify-content: space-between;
 }

nav, footer 
{
  justify-content: space-around;
}

nav {
  width: 50%;
 
}
.about-card {
  width: auto;
  
}

.about-card img{
  height: 400px;
  width: auto;


}

.about-text{
  width: 400px;

}
.post-card {
  width: 250px;
  /* min-height: 500px; */
height: 250px; */

}



  } 


