@import url(_variabels.css);


* {
  text-decoration: none;

  margin: 0;
  font-family: Sansita One; 

}

header {
  position: sticky;
  top:0;
  min-height: 70px;

}

main {

  min-height: 750px;
}

/* dark background color */
header, footer, #submit, .showbutt, .sortA, .sortZ, .showbuttons, .sortNew, .sortOld {
  background-color: var(--dark);
}

/* white text */

 nav a, footer, footer a, #submit, .showbutt, .header-img-div, .sortA,
 .sortZ, .sortOld, .sortNew, .showbuttons {
  color: var(--white);
}


/* white background */
.icon1, .icon2, .icon3
{
  background-color: var(--white);
}

/* dark text */
a 
{
  color: var(--dark);
}
/* transperent background */
.header-img-div{
  background-color: var(--bg-color);
}

/* height */
nav a, .flogos img
{
height: 50px;

}
/* 25px font size */
nav a, .about
{
font-size: 25px;
}

.logo img{
width: 260px;
/* max-width: 80%; */
}

/* .sortA, .sortZ {
  position: absolute;
} */
/* absoulute position  */
.hamburger {
  position: absolute;
 }

/* hamburger menu */
 .icon1, .icon2, .icon3, .rotated1, .rotated2, .rotated3
  {
  transition: ease-in-out 0.5s;
}

.hamburger {

  left: 20px;
  width:40px;
  top: 10px;
  }
  
  .icon1, .icon2, .icon3, .post-card img,
   .carouselle div img, .showbutt {
    border-radius: 20px;
  }

    .icon1, .icon2, .icon3 {
     
      display: block;
      width: 50px;
      height: 7px;
  
     margin-top: 10px;
    
  
  
  
    }
  
  
    .rotated1, .rotated2, .rotated3 {
      opacity: 0.55s ease;
    }
    .rotated1 {
      transform: rotate(45deg) translate(15px, 21px);
   
    }
  
    .rotated2 {
    
      opacity: 0;
    }
  
    .rotated3 {
    
      transform: rotate(-45deg) translate(0, -9px);
    }


      
      .hidden, .navigate-arrows, .hide, .arrow, .overlay, .modal {
         display: none;
        }
      
/* gird */


/* all display flex  */
nav, .headerdiv, header, footer, footer div, .about-card, .post-card, .post-container, .centertag,
 .section-1, main, .header-img-div, .carouselle, .sortingButtons, .post-grid  {
  display: flex;
}


/* column direction */
nav, header, footer div, .about-card, .post-card, .post-container,
main, .section-1, .carouselle, .sortingButtons
 {

  flex-direction: column;
  
}
/* row direction */
footer, .flogos
{
  flex-direction: row;
}
/* flex center */
nav, header, footer div, .post-container, .centertag, .header-img-div
{
  justify-content: center;
 
}
/* flex space-between */
footer, .flogos {
  justify-content: space-between;
}

/* flex space-around */
.flogos, footer
{
  justify-content: space-around;
}


/* align items */
nav, header, footer, .post-container, .post-card,
.carouselle, .section-1, main, .header-img-div
 {
  
  align-items:center ;
}



/* footer */
footer {
  height: 100px;
}
.flogos
 {
min-width: 150px;
  }

/* home page */
.post-container
{
  margin-top: 50px;
}
.home-info, .post-container, .carouselle {
  margin-bottom: 50px;
}


.home-info, .carouselle, .section-1
{
  width: 300px;
}

.home-info
{
  
  margin-top: 50px;
  /* margin-bottom: 50px; */
  font-size: 15px;
}
.post-container
{
  
  gap: 50px;
}
.post-card 
{
  width: 350px;
  max-width: 80%;
}

.post-card img, .carouselle div img, .header-img-div, .post-image img, 
 .overlay, .modal img, .row img, .row-reverse img, .formdiv div
 {

  width: 100%;
}

.header-img-div{
  /* display: flex; */
  background-image: url(/images/home-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x:center ;
  background-position-y:center ;
  height:200px;
  /* width: 100%; */
/* justify-content: center; */
  /* align-items: center; */
  /* padding:0px 0px 20px 20px; */
  box-sizing: border-box;
}

.header-img-div h1{
  /* color: white; */
  font-size: 2em;
  background-color: rgba(48, 47, 47, 0.6);
  padding:10px;
}


.carouselle {
  /* width: 300px; */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* height: 1020px; */
  overflow: hidden;
  /* margin-bottom: 50px; */
}

/* .arrow {
  display: none;
} */
/* blog page */

.showbutt {
  /* border-radius: 20px; */
  margin: 20px;
}
.arrow-left, .arrow-right, .showbutt, #submit, .post-image, .hamburger, button, .overlay
{
  cursor: pointer;
}

.sortingButtons
{
/* display: flex;
flex-direction: column; */
/* align-self: flex-end; */
margin-top: 20px;
width: 80%;
align-items: flex-end;
gap: 2px;
height: 250px;

}
.sortA, .sortZ, .showbuttons, .sortNew, .sortOld
{
width: 200px;
  padding: 10px 0px 10px 0px;
  border-radius: 0;
  border:0;
}
/* specific page */


.post-image img 
{
  /* width: 100%; */
  border-radius: 10%;
}

.post-grid 
{
  /* display: flex; */
  gap:50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 750px;
}
.instructions 
{
  width: 250px;
  margin-bottom: 50px;
}
.instructions li, .ingredients li 
{
  padding: 5px;
}
h1, h2 {
  text-align: center;
}

/* modal */
.overlay
{
  background-color: var(--bg-color);
  /* width: 100%; */
  height: 100vh;
  position: fixed;
  /* display: none; */
  /* cursor: pointer; */
}
.modal 
{
  display: flex;
  background-color: #fefefe;
  /* margin: 15% auto; */
  /* padding: 20px; */
  /* border: 1px solid #888; */
  width: 80%;
  position: fixed;
  justify-content: center;
  margin-top: 5%;
  /* box-sizing: border-box; */
  max-width: 650px;
  display: none;
}

/* about page */



.about-card
{
  width: 500px;
  max-width: 80%;
 
  border-radius: 20px;
  margin-top: 50px;
}

.about-card {
  border: solid 1px;
}
.row img, .row-reverse img {
  /* width: 100%; */
  border-radius: 20px 20px 0px 0px;
}



.about-text, .showbutt
{
  padding: 20px;
}
/* contact page */
.formdiv
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 500px;
  /* border: solid 1px;   */
  margin-top: 50px;
 width: 300px;
}
.formdiv div
{
display: flex;
justify-content: flex-start;
flex-direction: column;
/* width: 100%; */

}
input, textarea
{
padding:10px;
border-radius: 15px;
border:solid 1px;
}

.formdiv button 
{
  /* align-self: flex-end; */


}
form p {
  color: red;
  font-family: 'Courier New', Courier, monospace;
}
#message {
  height: 200px;
}
@media (min-width: 650px){


  .post-card, .home-info
{
width: 500px;
margin:50px;
font-size: 20px;
}

.header-img-div 
{
  height: 350px;
  
}


.instructions
{
  width: auto;
}
.carouselle {
  width: 550px;
  display: flex;
  overflow-x: scroll;
  overflow: hidden;
  flex-direction: row;
  height: auto;
  align-items: flex-start;
  /* max-width: 80%; */
}
.carouselle div {
  width: 270px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap:20px;
  padding: 10px;
  flex:none;
  /* height: 300px; */
}
.carouselle div img{
  width: 100%;
}
.arrow {
  display: inline;
  font-size: 50px;
  color:black;
}
.gallery-wrap{
  margin:10% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }





}

   @media (min-width: 1200px){
    .active 
    {
      color: var(--dark);
      background-color: var(--white);
      
      width: 120px;
    }

    .header-img-div
    {
      height: 450px;
    }

.post-container {
  display: grid;
  grid-template-columns:repeat(3, auto);
  grid-template-rows:1;
  width: 1150px;
  /* overflow: hidden; */
  transition: transform 0.5s ease;
}

.hidden, .navigate-arrows {
  display: flex;
}

    .hamburger {
      display: none;
    }


    
header, nav, nav a {
  display: flex;
  align-items: center;
  
}

 nav a {
  justify-content: center;

}
header, nav, .row {


  flex-direction: row;
  


}

.navigate-arrows 
{
  /* width: 100%; */
  justify-content: flex-end;
  font-size: 50px;
  margin: 20px;
  
}



.row img
{
  border-radius: 20px 0px 0px 20px;
}

.row-reverse img {
  border-radius: 0px 20px 20px 0px;
}

.row-reverse {
  flex-direction: row-reverse;
}

 header{
  justify-content: space-between;
 }

nav, footer 
{
  justify-content: space-around;
}

nav {
  width: 50%;
 
}
.about-card {
  width: auto;
  
}

.about-card img{
  height: 400px;
  width: auto;


}

.about-text{
  width: 400px;

}
.post-card {
  width: 250px;

height: 250px; 



}



.post-grid
{
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 50px auto auto auto;
  width: 80%;
 
}

.section-1 
{
  flex-direction: column;
  grid-column: 1;
  grid-row:2;
}

.section-2
{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  grid-row: 2;
  grid-column: 2/4;
  min-height: 100%;
}

.post-grid h1 
{
  grid-row: 1;
  grid-column: 2;
}

.carouselle {
  width: 960px;
  display: flex;
  overflow-x: scroll;
  overflow: hidden;
  flex-direction: row;
  height: auto;
}
.carouselle div {
  width: 300px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap:20px;
  padding: 10px;
  flex:none;
}
.carouselle div img{
  width: 100%;
}
.arrow {
  display: inline;
  font-size: 50px;
  color:black;
}
.gallery-wrap{
  margin:10% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  .sortingButtons {
    width: 800px;
  }

} 


